<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IAdminDao">

    <!--映射字段-->
    <resultMap id="admin" type="com.starlight.entity.Admin">
        <id property="id" column="admin_id"/>
        <result property="classes" column="admin_classes"/>
    </resultMap>

    <select id="findClassesById" resultType="int" parameterType="int">
        select admin_classes from admin where admin_id =#{userId}
    </select>
    <select id="addAdmin" parameterType="com.starlight.entity.Admin">
        insert into admin (admin_id,admin_classes)values(#{id},#{classes})
    </select>

    <!--统计管理员数量-->
    <select id="countAdminnumber" resultType="int">
        select count(admin_id) from admin
    </select>


    <select id=" findAllClssesById" resultMap="admin" parameterType="int">
        select admin_classes,admin_id from admin where admin_id !=#{u_id}
    </select>

    <update id="alterAdmin" parameterType="com.starlight.entity.Admin">
        update admin set admin_classes = #{classes} where admin_id = #{id}
    </update>

    <!--按条件查询-->
     <select id="findByClasses" parameterType="com.starlight.entity.Paging" resultMap="admin">
            select admin_id,admin_classes from admin where admin_classes= #{classes} limit #{rise},#{stop}
     </select>


    <!--按条件查询-->
    <select id="findSumNumberByClasses" parameterType="com.starlight.entity.Paging" resultType="int">
        select count(admin_id) from admin where admin_classes= #{classes}
    </select>
    <!--

        <insert id="">
            insert into admin admin_id =
        </insert>-->
    <!-- 删除管理员表数据-->
    <delete id="delAllUserData" parameterType="int">
        delete from admin where admin_id =#{uid};
    </delete>



</mapper>