<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IChangePasswordDao">
    <!--映射字段-->
    <resultMap id="pwd" type="com.starlight.entity.PassWordProtection">
        <id property="id" column="pp_id"/>
        <result property="question" column="pp_question"/>
        <result property="answer" column="pp_answer "/>
        <result property="userId" column="pp_uid"/>
    </resultMap>

    <!--查询问题与id-->
    <select id="findQuestionAndIddByUid" resultMap="pwd" parameterType="int">
        select pp_question,pp_id from passwordprotection where pp_uid = #{u_id}
        </select>

    <!--查询问答对比-->
    <select id="findAnswerById" resultType="java.lang.String" parameterType="int">
        select pp_answer from passwordprotection where pp_uid = #{u_id}
       </select>

    <!--添加一条密保-->
    <insert id="addPWP" parameterType="com.starlight.entity.PassWordProtection">
            insert into PassWordProtection(pp_uid,pp_question,pp_answer)
            values(#{userId},#{question},#{answer})
        </insert>


    <!--查询所有密保-->
    <select id="findAllById" resultMap="pwd" parameterType="int">
            SELECT pp_id,pp_question,pp_answer FROM PasswordProtection WHERE pp_uid=#{pp_uid}
        </select>


    <!--删除一条密保-->
    <delete id="deleteById" parameterType="int">
            DELETE FROM PassWordProtection WHERE pp_id=#{id}
        </delete>


    <!--修改三条条密保-->
    <update id="alterPWP" parameterType="com.starlight.entity.PassWordProtection">
        update passwordprotection set pp_answer = #{answer} where pp_id = #{id}
    </update>

    <!--    <delete id="deleteAll" parameterType="com.wy.test.entity.Dept">
            delete from DEPT
            <where>
                <if test="deptnos!=null">
                    deptno in
                    <foreach collection="deptnos" item="dept" open="(" separator="," close=")">
                    #{dept}
                    </foreach>
                </if>
                <if test="deptnos==null">
                    1=2
                </if>
            </where>
        </delete>-->
</mapper>