<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IGoodDao">
    <!--映射字段-->
    <resultMap id="goods" type="com.starlight.entity.Goods">
        <id property="id" column="g_id" />
        <result property="name" column="g_name" />
        <result property="price" column="g_price"/>
        <result property="describe" column="g_describe"/>
        <result property="picture" column="g_picture"/>
    </resultMap>


</mapper>