<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IOpinionDao">

    <!--映射字段-->
    <resultMap id="opinion" type="com.starlight.entity.Opinion">
        <id property="id" column="on_id" />
        <result property="grade" column="on_grade" />
        <result property="discuss" column="on_discuss"/>
        <result property="goodsId" column="on_gid"/>
        <result property="userId" column="on_uid"/>
    </resultMap>

    <delete id="delOpinion" parameterType="int">
        delete from opinion where on_id = #{uid}
    </delete>

    <!--查找指定商品的评论-->
    <select id="findGoodsOpinion" parameterType="int" resultMap="opinion">
      select on_id,on_grade,on_discuss,on_gid,on_uid from opinion where on_gid = #{goodsId} order by on_id desc
    </select>
</mapper>