<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IUserinfoDao">

    <!--映射字段-->
    <resultMap id="userInfo" type="com.starlight.entity.UserInfo">
        <id property="id" column="uinfo_id" />
        <result property="sex" column="uinfo_sex" />
        <result property="nickname" column="uinfo_nickname"/>
        <result property="age" column="uinfo_age"/>
        <result property="phone" column="uinfo_phone"/>
        <result property="address" column="uinfo_address"/>
    </resultMap>

    <select id="findUserifoById"  resultType="com.starlight.entity.Userinfo" parameterType="int">
        select * from userinfo where uinfo_id=#{u_id}
    </select>
<!--    <delete id="deleteAll" parameterType="com.wy.test.entity.Dept">
        delete from DEPT
        <where>
            <if test="deptnos!=null">
                deptno in
                <foreach collection="deptnos" item="dept" open="(" separator="," close=")">
                #{dept}
                </foreach>
            </if>
            <if test="deptnos==null">
                1=2
            </if>
        </where>
    </delete>-->
</mapper>