<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IUserDao">

    <!--映射字段-->
    <resultMap id="user" type="com.starlight.entity.User">
        <id property="id" column="u_id" />
        <result property="account" column="u_name" />
        <result property="password" column="u_pwd"/>
    </resultMap>

    <!--用户注册-->
    <insert id="register"  parameterType="com.starlight.entity.User">
        insert into User(u_name,u_pwd)values(#{account},#{password})
    </insert>
    <!--通过账号查找ID-->
    <select id="findIdByUser" parameterType="String" resultType="int">
        select u_id from user where u_name=#{account}
    </select>

    <!--查找是否存在该用户-->
    <select id="findAccount" parameterType="String"  resultMap="user">
        SELECT u_id FROM USER WHERE u_name=#{account}
    </select>

    <select id="findAll"  resultMap="user">
        select u_id, u_name, u_pwd from user
    </select>

    <select id="login"  resultType="int" parameterType="com.starlight.entity.User">
        select u_id from user where u_name= #{account} and u_pwd = #{password}
    </select>

    <select id="findIdByAccoun_Unmber" resultType="int" parameterType="java.lang.String">
             select u_id from user where u_name =#{u_name}
    </select>

    <!--修改用户密码-->
    <update id="alertPwdById" parameterType="com.starlight.entity.User">
        update user set u_pwd = #{password} where u_id = #{id}
    </update>
    <!--<select id="findById" parameterType="int" resultType="com.wy.test.entity.Dept">
        select * from DEPT where DEPTNO=#{id}
    </select>
    <insert id="save" parameterType="com.wy.test.entity.Dept">
        insert into DEPT(deptno,dname,loc)
            values(seq_dept.nextval,#{dname},#{loc})
    </insert>
    <delete id="deleteById" parameterType="int">
        delete from DEPT where deptno=#{id}
    </delete>
    <update id="update" parameterType="com.wy.test.entity.Dept">
        update DEPT set dname=#{dname},loc=#{loc}  where deptno=#{deptno}
    </update>
    <delete id="deleteAll" parameterType="com.wy.test.entity.Dept">
        delete from DEPT
        <where>
            <if test="deptnos!=null">
                deptno in
                <foreach collection="deptnos" item="dept" open="(" separator="," close=")">
                #{dept}
                </foreach>
            </if>
            <if test="deptnos==null">
                1=2
            </if>
        </where>
    </delete>-->
</mapper>