<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starlight.dao.IWalletDao">

    <!--字段映射-->
    <resultMap id="wallet" type="com.starlight.entity.Wallet">
        <id property="id" column="w_id" />
        <result property="money" column="w_money" />
        <result property="password" column="w_paypwd"/>
    </resultMap>

    <!--修改支付密码-->
    <update id="alertPayPwdById" parameterType="com.starlight.entity.Wallet">
           update wallet set w_paypwd = #{password} where w_id = #{id}
    </update>

    <!--用户注册-->
    <insert id="register"  parameterType="com.starlight.entity.Wallet">
        INSERT INTO Wallet(w_id,w_money,w_paypwd)VALUES (#{id},#{money},#{password})
    </insert>

    <!--通过账号查找ID-->
    <select id="findIdByUser" parameterType="String" resultType="int">
        select u_id from user where u_name=#{u_name}
    </select>

    <select id="findById" parameterType="int" resultMap="wallet">
        select w_id,w_money,w_paypwd from Wallet where w_id=#{id}
    </select>

   <update id="updateMoney" parameterType="com.starlight.entity.Wallet" >
       update Wallet set w_money=#{money}where w_id=#{id}
   </update>

    <!--查找是否存在该用户-->
    <select id="findAccout" parameterType="String"  resultMap="wallet">
        SELECT u_id FROM USER WHERE u_name=#{u_name}
    </select>

    <delete id="delWallet" parameterType="int">
        delete  from wallet where w_id = #{uid}
    </delete>


</mapper>